/*
*Style Sheet for HTML Sandbox
*/

html,
body{
	font-size: 14px;
}

h1{
	font-size:2em;
}

#first-paragraph{
	background: url("../images/motzie.png");
	background-position: 20px -150px;
	height: 230px;
	color:whitesmoke;
	border:5px solid orange;
	font-family: sans-serif;
	font-size: 16px;
	padding: 20px 50px 5px 100px;
	margin: 15px 20px 10px;
	box-sizing: border-box;
}